@import 'utilities';

//general component
*{
    font-family: 'euclid_circular_aregular', ;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    color: hsla(0, 0%, 100%, 0.87);
    @include desktop(1000px) {
        font-size: 4rem;
    }
    @include desktop(760px) {
        font-size: 3rem;
    }
}
h2 {
    font-size: 24px;
    @include set-color($primary-color);
    @include desktop(760px) {
        font-size: 64px;
    }
}
h3 {
    font-size: 22px;
    @include desktop(760px) {
        font-size: 32px;
    }
}

h4 {
    font-size: 16px;
    @include desktop(760px) {
        font-size: 24px;
    }
}
h5{
    font-size: 12px;
    @include set-color($primary-color);
    @include desktop(760px) {
        font-size: 24px;
    }
}

body {
    @include attachment(); //to add the circular attachment to all the specified element of that class

}

p {
    font-size: 12px;
    color: hsla(0, 0%, 100%, 0.87);
    line-height: 154%;
    @include desktop(760px) {
        font-size: 24px;
    }


}
span {
    font-size: 12px;
    @include desktop(760px) {
        font-size: 18px;
    }
}
aside {
    font-size: 14px;
}
a {
    text-decoration: none;
    color: hsla(0, 0%, 100%, 0.87);
}

body {
    background-color: $secondary-color;
    
}
section {
    margin: 24px;
    @include desktop(760px) {
        margin: 60px;
    }
}
ul {
    list-style: none;
}
.logo-txt {
    @include set-color($primary-color)
}

//nav
#nav-section {
    background-color: $header-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 24px;


        li {
            display: inline-block;
            padding-right: 42px;
            color: hsla(0, 0%, 100%, 0.6);

            a {
                color: hsla(0, 0%, 100%, 0.6);

            }

        }
        li:last-child {
            padding-right: 0;
        }
        .toggle-container {
            display: none;

            p {
                color: hsla(0, 0%, 100%, 0.87);
            }

            @include desktop(830px) {
                display: initial;

                .toggle {

                    p{
                        display: none;
                    }
                }
            }
                
        }

        @include desktop(760px) {
            padding: 24px 60px;
        }

}

//header
header {

    background-color: $header-color;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-column-gap: 5%;

    .img-container {
        position: relative;

        .main-img {
            width: 100%;
        }
        .multiplexed-img {
            position: absolute;
            top: 70%;
            left: 50%;
        }
    }

    .header-text {
        padding: 16px 24px 24px;

        .bulb2 {
            display: none;
        }

        h1 {
            text-align: center;
        }

        p {
            margin: 16px 0 24px;
            color: hsla(0, 0%, 100%, 0.67);
        }

        

        .button-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
            grid-gap: 16.84px;

            img {
                padding-right: 6px;
            }
        }

        .page-down {
            display: none;

        }
    }

    @include desktop(631px) {
        // .img-container {
        //     // grid-column:2/3 ;
        // }
        .header-text {
            grid-row: 1/2;
            margin-left: 36px;

            .bulb2 {
                display: flex;
                column-gap: 16px;
                padding-bottom: 56px;
                align-items: center;

                img {
                    width: 50px;
                    
                }
                p {
                    font-size: 16px;
                    @include set-color($primary-color);
                    margin: 0;
                }
            }

            h1 {
                text-align: left;
            }
            p{
                margin: 32px 0 40px;
            }

            .page-down {
                width: fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 65px;
                

                &-a {
                    color: hsla(0, 0%, 100%, 0.32);
                    padding-bottom: 15px;
                }
    
            }
        }
        .multiplexed-img {
            display: none;
        }
        .main-img {
            height: 100%;
        }
    }

   
    


}

.whatwedo {


    margin-bottom: 56px;
    @include desktop(672px) {
        margin-bottom: 88px;
        
    }

    .whatwedo-text {
        padding-bottom: 32px;
    }

    .whatwedo-container {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
        grid-gap: 24px;
        justify-content: center;
        
        
        .wwd3 {
            @include desktop(672px) {
                transform: translateX(50%);
            }
            @include desktop(996px) {
                transform: translateX(0);
            }
        }

        .wwd {
            .spacer {
                transform: translateX(12px);
            }
            h3 {
                padding: 16px 0 24px;
            }
            a {
                margin: 16px 0 24px;
                display: inline-block;
                font-size: 12px;
                @include set-color($primary-color);

                @include desktop(672px) {
                    font-size: 16px;
                }
            }

            a:after {
                content: "";
                display: inline-block;
                background: url("../image/Arrow\ 1.svg") no-repeat;
                width: 13px;
                height: 9px;
                margin-left: 4px;
                
            }

            
        }
    }


    
}


.account-setup {

    .account-setup-txt {
        text-align: center;

        h2 {
            padding-bottom: 4px;
        }
    }

    .account-setup-container {
        margin: 32px 0 62px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(270px, 424px));
        grid-row-gap: 24px;
        grid-column-gap: 24px;
        justify-content: center;


        .as {
            .as-grid-container {
                //i decided to go with a flexbox instead of a grid becaudse i felt it was easier for me to style it to specification *in this situation* using flexbox
                padding-bottom: 16px;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                @include desktop(672px) {
                    justify-content: start;
                    padding-bottom: 24px;

                    div {
                        padding: 0 !important;
                    }
                }


                div {
                    display: flex;
                    
                    img {
                        padding-right: 8px;
                        width: 49px;
                        
                        @include desktop(672px) {
                            width: 82px;
                            padding-right: 16px;
                        }
                    }
                    h4 {
                        line-height: 19.84px;
                        color: hsla(0, 0%, 100%, 0.87);
                        @include desktop(672px) {
                            line-height: 32.6px;
                        }
                    }
                }
                p {
                    @include set-color($primary-color);
                    @include desktop(672px) {
                        display: none
                    }
                }
               
                
            }
            p {
                color: hsla(0, 0%, 100%, 0.6);
            }

            
        }
        .as:nth-child(even) .as-grid-container{

            .as2{
                padding-right: 70px;
            }
            .as4{
                padding-right: 69px;
            }

        }
        .as:nth-child(odd) .as-grid-container {
            flex-direction: row-reverse;

            .as1{
                padding-left: 77px;
            }
            .as3{
                padding-left: 46px;
            }
            .as5{
                padding-left: 89px;
            }
        }


        @include desktop(672px) {
            margin: 56px 0 88px;
            grid-row-gap: 48px;
            .as {
                border-radius: 4px;
                background: rgba(255, 255, 255, 0.02);
                padding: 24px;
            }
        }
        @include desktop(992px) {
            .as {
                border-radius: none;
                background: none;
            }
            
        }


    }
}

.our-partners {
    .partners {
        p {
            padding: 8px 0 32px;

            @include desktop(672px) {
                padding-bottom: 56px;
            }
        }


    }

    .partners-container {
        padding: 16px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(32px,1fr));
        grid-gap: 25px;
        background-color: hsla(0, 0%, 100%, 0.05);

        .pc {
            display: flex;
            flex-direction: column;
            align-items: center;
            column-gap: 28px;
            height: 100%;



            img {
                width: 32px;
                @include desktop(672px) {
                    width: 56px;
                }
            }

            span {
                color: hsla(0, 0%, 100%, 0.87);
            }

            

        }
        @include desktop(996px) {
                grid-gap: 80px;
                padding: 30px;
                height: 206px;
                
        }
        
    }
    @include desktop(996px) {

        .pc:nth-child(even) {
            transform: translateY(50%);
        }
    }
    
}

.moments {
    h4 {
        text-align: center;
        display: block;
        @include set-color($primary-color)
    }

    &-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(152px, 1fr));
        gap: 24px;

        .mc {
            
            border-radius: 4px;
            background: rgba(255, 255, 255, 0.02);

            p {
                padding: 16px 10px;
                color: hsla(0, 0%, 100%, 0.7);
            }
            .mc-info {
                display: flex;
                padding: 16px 10px 16px 16px;
                column-gap: 8px;
                background-color: rgba(255, 255, 255, 0.02);

                img {
                    width: 32px;
                    
                }
                aside {
                    color: hsla(0, 0%, 100%, 0.67);
                    overflow-y: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                @include desktop(672px) {
                    img {
                        width: 40px
                    }
                }
                
            }
            .mc-link {
                @include set-color($primary-color);
                padding: 8px 0 16px 16px;
            }
            .mc-link:after {
                content: "";
                display: inline-block;
                background: url("../image/Arrow\ 1.svg") no-repeat;
                width: 13px;
                height: 9px;
                margin-left: 4px;
            }
        }
    }
}

.subscribe {
    padding-top: 24px;
    margin: 0 0 56px 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
        padding-bottom: 32px;
    }
    &-container {
        background-color: hsla(280, 68%, 60%, 0.1);
        padding: 24px 40px;
        margin: 0;
        .sc1 {
            
            span {
                padding-bottom: 48px;
                display: block;
                font-size: 14px;
                color: hsla(0, 0%, 100%, 0.7);
            }
            input[type="email"] {
                height: 44px;
                width: 100%;
                margin-bottom: 12px;
                background-color: hsla(0, 0%, 100%, 0.05);
                border: none;
            }
        }

        .sc2 {
            display: none;
            
        }
    }

    @include desktop(672px) {

        span {
            font-size: 18px;
        }
         
        h2 {
            padding-bottom: 56px;
        }
        &-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 152px;
            padding: 56px 108px;
            background-color: rgba(128, 237, 153, 0.12);

            .sc1 {
                
                input[type="email"] {
                    margin-bottom: 24px;
                }
            }

            .sc2 {
                display: initial;

                p {
                    color: hsla(0, 0%, 100%, 0.4);
                    margin-bottom: 24px;
                }
                p:before {
                    content: '“';
                    display: inline-block;
                    font-size: 48px;
                    
                }
                span {
                    color: rgba(255, 255, 255, 0.56);
                }
            }

            
        }
    }
}

footer {
    padding: 16px 24px 24px;
    background-color: rgba(255, 255, 255, 0.05);

    .st-footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
        padding-bottom: 32px;
        row-gap: 32px;
        column-gap: 20px;
        

        .about {
            grid-column: 1/3;
        }

        p {
            color: rgba(255, 255, 255, 0.6);
            margin-bottom: 8px;
        }
        li {
            padding-bottom: 8px;
            color: rgba(255, 255, 255, 0.87);
            font-size: 12px;
        }
        li:after {
            content: "";
            display: inline-block;
            background: url("../image/white-arrow.svg") no-repeat;
            width: 13px;
            height: 9px;
            margin-left: 4px;
        }

    }

    .last-footer-p {
        padding-top: 8px;
        color: rgba(255, 255, 255, 0.32);
    }

    @include desktop(672px) {
        .st-footer {
            column-gap: 50px;

            // .about {
            //     grid-column: 7/8;
            // }

            li {
                font-size: 16px;
            }
        }
        .logo {
            width: 50px;
        }

    }
}

